<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tiramisu</title>
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  
  <body>
    <header> 
    <div class="container">
    <div id="logo">Tiramisu</div>
            <nav>
                <ul class="nav-links">
                    <li><a href="/">  Home </a></li>
                    <li><a href="/prompt1">Invoice Generation</a></li>
                    <li><a href="/prompt2">Course Completion</a></li>
                    <li><a href="/prompt3">Event Ticket </a></li>
                    <li><a href="/prompt4">Restaurant Menu</a></li>
                </ul>
            </nav>
          </div>
</header>
            <div class="container">
  <!-- <h1 class="title_prompt">Tiramisu</h1> -->   

      <h1 class="sub-title-home"> About Tiramisu</h1>
       <p>This assignment required students to develop a functional Node.js web server while applying frontend development concepts and Object-Oriented Programming (OOP) principles. Students created a simple HTTP server using the http module, which served different content based on request URLs. They also implemented frontend modules, navigation between pages, and extended a shared PDFGenerator class to generate downloadable PDFs based on various prompts. </p>

       <p> Our team developed a webpage called "Tiramisu" with an interactive JavaScript module and a subclass of the PDFGenerator to generate a specific type of document, such as an invoice, course completion certificate, event ticket, or restaurant receipt. The project emphasized collaboration, modular design, and the practical application of web technologies, culminating in a fully functional website where users could preview and download customized PDFs.</p>

       <h1 class="sub-title-home2">Prompts</h1>

       <div class="prompts-list">

        <div class="cardh">
          
          <img src="media/prompt1.jpg" alt="Invoice Generation">
          <div class="item-name" style="margin-top: 10px;">Invoice Generation</div>
          <p class="description" >Online store with cart, purchase completion, and invoice generation. </p>
          <button class="btn"><a href="/prompt1"> View</a></button>
      </div>

      <div class="cardh">
          
        <img src="media/prompt2.jpg" alt="Course Completion">
        <div class="item-name" style="margin-top: 10px;">Course Certificate</div>
        <p class="description" > Online course with quiz and certificate generation for passing students.
        </p>
        <button class="btn"><a href="/prompt2"> View</a></button>
    </div>

    <div class="cardh">
          
      <img src="media/prompt3.jpg" alt="Event Ticket">
      <div class="item-name" style="margin-top: 10px;"> Event Ticket</div>
      <p class="description"> Event ticket booking with name entry, random ticket code, and download.      </p>
      <button class="btn"><a href="/prompt3"> View</a></button>
  </div>

  <div class="cardh">
          
    <img src="media/prompt4.jpg" alt="Restaurant Menu">
    <div class="item-name" style="margin-top: 10px;">Restaurant Menu Receipt</div>
    <p class="description"> Online drinks ordering with cart, receipt viewing, and download option.    </p>
    <button class="btn"><a href="/prompt4"> View</a></button>
</div>


       </div>


            
            </div>
   
    
    <script src="js/app.js"></script>

  </body>

  <footer><p> © 2025 by Tiramisu Team | All Rights Reserved</p></footer>

</html>
