<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tiramisu</title>
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  
  <body>
    <header> 
    <div class="container">
    <div id="logo">Tiramisu</div>
            <nav>
                <ul class="nav-links">
                    <li><a href="/">  Home </a></li>
                    <li><a href="/prompt1">Invoice Generation</a></li>
                    <li><a href="/prompt2">Course Completion</a></li>
                    <li><a href="/prompt3">Event Ticket </a></li>
                    <li><a href="/prompt4">Restaurant Menu</a></li>
                </ul>
            </nav>
          </div>
</header>
            <div class="container">
  <!-- <h1 class="title_prompt">Tiramisu</h1> -->   

      <h1 class="sub-title-home"> Project Summary</h1>
       <p> In this project we implement pdfGenerator and use Node.js HTTP. Each member has their own prompt that they work on. Our project topic is tiramisu, we chose tiramisu because it is a dessert and it tastes good.</p>

       <h2 class="sub-title-home2">Prompts</h2>

       <div class="prompts-list">

        <div class="card">
          
          <img src="media/prompt1.jpg" alt="Invoice Generation">
          <div class="item-name">Invoice Generation</div>
          <button class="btn">View</button>
      </div>

      <div class="card">
          
        <img src="media/prompt2.jpg" alt="Course Completion">
        <div class="item-name">Course Completion Certificate</div>
        <button class="btn">View</button>
    </div>

    <div class="card">
          
      <img src="media/prompt3.jpg" alt="Event Ticket">
      <div class="item-name">Event Ticket</div>
      <button class="abtn">View</button>
  </div>

  <div class="card">
          
    <img src="media/prompt4.jpg" alt="Restaurant Menu">
    <div class="item-name">Restaurant Menu Receipt</div>
    <button class="btn">View</button>
</div>


       </div>


            
            </div>
   
    
    <script src="js/app.js"></script>

  </body>

  <footer><p> © 2025 by Tiramisu Team | All Rights Reserved</p></footer>

</html>
